# Development environment files
.vscode/

# Structure files
!.gitkeep

# Temporary OS files
.DS_Store
Thumbs.db

# Environment files
.venv

# Temporary files
*.tmp
*.temp
temporary/*

# Logs
*.log